* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Sanchez", serif;
}

body {
  overflow-x: hidden;
}

.logotyp {
  display: inline-block;
  padding: 30px 20px 20px 60px;
}

.folksamLogo {
  /* line-height: 3.4375rem;
    font-size: 1.3125rem; */
  /* color: #007AC4;
    text-decoration: none;
    font-weight: bold; */
  width: 30%;
}

.inputButtonSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
}

.searchInput {
  padding: 10px;
  background-color: #c8e6fa;
  border-radius: 25px;
  border: solid 1px;
  margin: 5px;
  font-weight: bold;
}

.searchInput::placeholder {
  color: #007ac4;
}

.loginBtn {
  padding: 10px;
  background-color: #0093de;
  border-radius: 25px;
  border: solid 1px;
  margin: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.loginBtn:hover {
  background-color: #00aae6;
}

.far {
  padding: 2px;
}

.menuListLink {
  text-decoration: none !important;
  color: #009fe4;
  transition: color 0.3s ease;
}

.menuListLink:hover {
  color: #7dc8f0;
}

.menuToggle {
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

.menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #009fe4;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.menuToggle span:first-child {
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #009fe4;
}

.menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

.menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  background: #f2eee6;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.menu li {
  padding: 10px 0;
  font-size: 22px;
}

.menuToggle input:checked ~ ul {
  transform: scale(1, 1);
  opacity: 1;
}

.hero-container {
  font-family: "Sanchez", serif;
  background-image: url("../images/bg-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.carHouseSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 50px;
}

.carDiv,
.houseDiv {
  padding: 10px;
}

.mainHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.mainText {
  color: #e6007e;
  font-size: 1.5rem;
  text-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
  padding: 10px;
  text-align: center;
}

.iconImage {
  width: 50%;
  margin: 10px;
}

.iconText {
  color: #0a4682;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px;
}

.boatIconText {
  color: #0a4682;
  font-weight: bold;
  font-size: 1rem;
  padding-top: 10px;
}

.carDiv {
  padding-top: 22px;
}

.boatDiv {
  padding-top: 43px;
}

.boatTravelSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 25px;
}

.insuranceBtnSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.insuranceBtn {
  padding: 15px;
  background-color: #c9dc18;
  border-radius: 25px;
  color: #1e6e32;
  cursor: pointer;
  font-weight: bold;
  border: none;
}

.insuranceBtn:hover {
  background-color: #d2e182;
}

@media screen and (min-width: 1024px) {
  .inputButtonSection {
    display: inline-block;
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-direction: row;
    align-items: center;
  }
  .folksamLogo {
    /* line-height: 4.75rem;
        font-size: 2.1875rem;
        margin-right: 2rem; */
    width: 45%;
  }
  .mainHeading {
    padding: 0;
  }
  .mainText {
    font-size: 2rem;
    padding: 0;
  }
}

/* @media only screen and (min-width: 768px) {
    .hero-section {
        height: 100vh;
    } */
