@import "./reset";
@import "./mixins";
@import "./variables";

body {
  overflow-x: hidden;
  header {
    .logotyp {
      display: inline-block;
      padding: 30px 20px 20px 60px;
      .folksamLogo {
        width: 40%;
        @include desktop {
          width: 18%;
        }
      }
    }
    .inputButtonSection {
      display: flex;
      padding: 10px;
      @include desktop {
        display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .searchInput {
        padding: 10px;
        background-color: #c8e6fa;
        border-radius: 25px;
        border: solid 1px;
        margin: 5px;
        font-weight: bold;
        &::placeholder {
          color: #007ac4;
        }
      }

      .loginBtn {
        padding: 10px;
        background-color: rgb(0, 122, 196);
        border-radius: 25px;
        border: solid 1px;
        margin: 5px;
        color: white;
        cursor: pointer;
        font-weight: bold;
        &:hover {
          background-color: #00aae6;
        }
        .far {
          padding: 2px;
        }
      }
    }
  }
  nav {
    .menuToggle {
      display: block;
      position: absolute;
      top: 50px;
      right: 50px;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;
    }

    .menuToggle input {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      cursor: pointer;
      opacity: 0;
      z-index: 2;
      -webkit-touch-callout: none;
    }

    .menuToggle span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: #009fe4;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    }

    .menuToggle span:first-child {
      transform-origin: 0% 0%;
    }

    .menuToggle span:nth-last-child(2) {
      transform-origin: 0% 100%;
    }

    .menuToggle input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: rgb(255, 255, 255);
    }

    .menuToggle input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    .menuToggle input:checked ~ span:nth-last-child(2) {
      opacity: 1;
      transform: rotate(-45deg) translate(0, -1px);
    }

    .menuToggle input:checked ~ ul {
      transform: scale(1, 1);
      opacity: 1;
    }

    .menu {
      position: absolute;
      width: 300px;
      margin: -100px 0 0 0;
      padding: 50px;
      padding-top: 125px;
      right: -100px;
      background: #0a4682;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      transform-origin: 0% 0%;
      transform: translate(100%, 0);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }

    .menu li {
      padding: 10px 0;
      font-size: 22px;
    }

    .menuListLink {
      text-decoration: none !important;
      color: rgb(255, 255, 255);
      transition: color 0.3s ease;
      &:hover {
        color: #7dc8f0;
      }
    }
  }
  .hero-container {
    font-family: "Sanchez", serif;
    background-image: url("../images/bg-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-height: 100%;
    .iconImage {
      width: 50%;
      margin: 20px 20px 20px 30px;
    }
    .iconText {
      color: #0a4682;
      font-weight: bold;
      font-size: 1rem;
      padding: 10px;
      background-color: #7dc8f0;
      border-radius: 25px;
      margin: 10px;
      text-align: center;
      width: 85%;
      @include desktop {
        font-size: 1.2rem;
      }
    }
    .carHouseSection {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 50px;
      .carDiv {
        padding: 45px 10px 10px 10px;
        @include desktop {
          padding: 57px 10px 10px 10px;
        }
        #car {
          width: 65%;
          margin: 20px 20px 20px 16px;
          @include desktop {
            margin: 20px 20px 20px 30px;
            width: 50%;
          }
        }
        @include desktop {
          margin-left: 180px;
        }
      }
      .houseDiv {
        padding: 10px;
        @include desktop {
          margin-left: 155px;
        }
        #homeInsurance {
          @include desktop {
            width: 50%;
            margin-left: 23px;
          }
        }
        #house {
          width: 40%;
          margin-left: 52px;
          @include desktop {
            width: 30%;
            margin-bottom: 7px;
          }
        }
      }
    }
    .mainHeading {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      @include desktop {
        padding: 0;
      }
      .mainText {
        color: #e6007e;
        font-size: 1.5rem;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        padding: 10px 10px 96px 10px;
        text-align: center;
        @include desktop {
          font-size: 2rem;
          padding: 10px 10px 90px 10px;
        }
      }
    }
    .boatTravelSection {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 25px;
      .travelDiv {
        padding-top: 3px;
        #parasoll {
          width: 45%;
          margin-left: 56px;
        }
      }
      .boatDiv {
        padding-top: 54px;
        #boat {
          margin-left: 35px;
        }
      }
    }
    .insuranceBtnSection {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 20px 50px 20px;
      .insuranceBtn {
        padding: 15px;
        background-color: #c9dc18;
        border-radius: 25px;
        color: #1e6e32;
        cursor: pointer;
        font-weight: bold;
        border: none;
        font-size: 1rem;
        &:hover {
          background-color: #d2e182;
        }
        @include desktop {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .iconImage {
    animation: none;
  }
}

@media (prefers-color-scheme: dark) {
  header {
    background-color: black;
  }
  .hero-container {
    filter: brightness(50%);
  }
}
